*{
    box-sizing: border-box;
}
body {
    text-align: center;
}
.list {
    margin-top: 20px;
    text-align: -webkit-center;
}
.list__item {
    width: 300px;
    display: flex;
    background-color: bisque;
    border: 1px solid red;
    justify-content: space-between;
    padding: 5px;
}